#you .message-content {
  justify-content: flex-start;
}

#you .message-meta{
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content{
  justify-content: flex-end;
  background-color: rgb(64, 64, 240);
}

#other .message-meta{
  justify-content: flex-end;
  margin-right: 5px;
}